@model IEnumerable<DomainModels.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ImageName)*@
            Image
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>*@
        <th></th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.ImagePath" alt="@item.ImageName" height="80" />
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.ProductId }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>

            </td>
            <td>
        
            </td>
            <td>
         
            </td>
            <td>

            </td>
        </tr>
    }


</table>
