@model Vidly_Dec_2019.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customers</h2>


@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(m => m.Customer.BirthDate, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.IsSubscribedToNewsletter)
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter, new { @class = "form-control" })
        </div>*@
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed To Newsletter
        </label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)


        @*Here the m => m.Customer.MembershipTypeId specifies dropdownlist is for MembershipTypeId property*@
        @*new SelectList(Model.MembershipTypes, "Id", "Name") specifies list of items for the dropdown list
        Now in it the 1st argument contains list of items i.e. our Model class
        Now in it the 2nd argument we need to specify the name of the property in MemberShipType class that holds the value for each item i.e. Id property and 3rd item is the property that holds the text for each item  *@
        @*"Select Membership Type"  specifies argument which contains first drop down item*@
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })

    </div>

    <button type="submit" class="btn btn-primary">Save    </button>
}